<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    @if (ViewBag.detailData.PhoneNumber != null && ViewBag.url!="Null")
    {
        <h4><a href="@ViewBag.Url" target="_blank"> Business Name : @ViewBag.detailData.Name </a></h4>
        <h4>Phone Number: @ViewBag.detailData.PhoneNumber</h4>
        <a href="/">Home</a>
    }
    else
    {
        <h4>Business Name: @ViewBag.detailData.Name</h4>
        <h4>Phone Number: N/A</h4>
        <a href="/">Home</a>
    }


</body>
</html>