<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <iframe width="600"
            height="450"
            frameborder="0" style="border:0"
            src="@ViewBag.mapUrl" allowfullscreen>
    </iframe>
</body>
</html>