<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @if(ViewBag.data.Count > 0)
    {
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Rating</th>
                <th>Status</th>
                <th><a href="/">New search</a></th>
            </tr>
        @foreach (Data data in ViewBag.data)
        {
            <tr>
                <td><a href="/details/@data.BusinessId" target="_blank">@data.Name</a></td>
                <td><a href="/map/@data.Formatted_address" target="_blank"> @data.Formatted_address</a></td>
                <td>@data.Rating</td>
                <td>@data.Business_Status</td>
            </tr>
        }
        </table>
    }
    else
    {
     <h4>No results</h4>
     <a href="/">Search again</a>
    }
</body>
</html>