<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @if(ViewBag.url == "Null")
    {
        <h4>URL not available for this location</h4>
        <a href="/">Home</a>
    }
    else
    {
        <h4> <a href="@ViewBag.url" target="_blank">Yelp URL</a> </h4>

    }
</body>
</html>